EPMWebClient2/Service References/CRUDCustomerReference/CRUDCustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HostEPM/CRUDCustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFEMPLibrary" />
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFEMPLibrary" minOccurs="0" name="getCustomerResult" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDClient" type="xs:int" />
        <xs:element minOccurs="0" name="newReading" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastReadingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>